{% extends 'template.html' %}

{% block title %}Menú{% endblock %}

{% block content %}
<div class="container text-center">
 
    <div class="row my-5">
        <h1 class="col">¡Bienvenidx!</h1>
    </div>

    <div class="row">
        <div class="col-md-4 ms-auto">
            <a href="{% url 'admin_menu' %}" class="btn btn-primary">Ver menú</a>
        </div>
        <div class="col-md-4 ms-auto">
            <a href="{% url 'admin_add' %}" class="btn btn-primary">Añadir plato</a>
        </div>
        <div class="col-md-4 ms-auto">
            <a href="{% url 'admin_modify' %}" class="btn btn-primary">Modificar menú</a>
        </div>
    </div>

</div>
{% endblock %}
